{% extends ("base.html.twig") %}
{% block menu %}
    <div class="col-md-3 left_col menu_fixed">
        <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
                <a href="#" class="site_title"><i class="fa fa-laptop"></i> <span>PGCP</span></a>
            </div>

            <div class="clearfix"></div>

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                <div class="menu_section">
                    <h3>General</h3>
                    <ul class="nav side-menu">
                        <li><a href="{{ path('pgcp_homepage') }}"><i class="fa fa-tachometer"></i> Accueil</a></li>
                        <li><a><i class="fa fa-users"></i> Utilisateurs <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="{{ path('pgcp_professeur') }}"><i class="fa fa-user-plus"></i> Enseigant</a></li>
                                <li><a href="{{ path('pgcp_etudiant') }}"><i class="fa fa-user"></i> Etudiant</a></li>

                            </ul>
                        </li>
                        <li><a><i class="fa fa-briefcase"></i> Années <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href=""><i class="fa fa-table"></i> Première année</a></li>
                                <li><a href=""><i class="fa fa-plus"></i> Deuxième année</a></li>
                                <li><a href=""><i class="fa fa-search"></i> troisième année</a></li>
                            </ul>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="label-info"><a><i class="fa fa-cog"></i> Configuration <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="{{ path('pgcp_admin') }}"><i class="fa fa-table"></i> Administration </a></li>
                                </ul>
                            </li>
                        {% endif %}

                        <li><a href="#"><i class="fa fa-trash"></i>Corbeille</a></li>
                    </ul>
                </div>
            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
                <a data-toggle="tooltip" data-placement="top" title="Settings">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                    <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Lock">
                    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Logout">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                </a>
            </div>
            <!-- /menu footer buttons -->
        </div>
    </div>
{% endblock %}