{% extends('@PGCP/layout.html.twig') %}
{% block title %}{{ parent() }} Home{% endblock %}
{% block content %}
        <!-- page content -->
        <div class="right_col" role="main">
                <div class="">
                        <div class="page-title">
                                <div class="title_left">
                                        <h3>Hello <small> It's <strong>working</strong></small></h3>
                                </div>
                        </div>
                </div>
        </div>
        <!-- /page content -->
{% endblock %}